@model System.Collections.Generic.IEnumerable<WMSApp.Models.Location>

@{
    ViewBag.Title = "Locations";
    Layout = "_Layout";
}

<h1>Locations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var location in Model)
    {
        <tr>
            <td>@location.Name</td>
            <td>@location.Description</td>
            <td>
                <a asp-action="Edit" asp-route-id="@location.LocationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@location.LocationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@location.LocationId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>